:root {
    --primary-color: #eb13d9;
    --secondary-color: #63004d;
    --tertiary-color: #140aa0;  
}
header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 24px;
}

header h2 {
    font-size: 20px;
    }

a:link, a:visited {
    text-decoration: none;
    color: var(--primary-color);
}